
body {
    background-image: url("../images/interlaced.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
header { 

    width: 100%;
    display: inline-block;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #cccccc;
}

.name h1 { 
    float: left;
    background-color:teal;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 22px;
    padding: 2%;
    margin-left: 2%;
}

.white_box {
    background-color: white;
    float: left;
    padding: 2% 5% 0% 5%;

}

 #about_link { 
    float: right;
    background-color: white;
    width: 6%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 2%;
    
 }

 #portfolio_link { 
    float: right;
    background-color: white;
    width: 6%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 2%;
    
   }

 #contact_link {
    float: right;
    background-color: white;
    width: 6%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 2%;
    padding-right: 13%
 }


a:link {
    text-decoration: none;
    color: #777777;
    background: white
}
a:visited {
    text-decoration: none;
    color: #777777;
}
a:hover {
    text-decoration: none;
    color: teal;
}
a:active {
    text-decoration: none;
}


.main {
    background-color: white;
    width: 960px;
    height: 400px;
    margin-left: 12%;
    margin-bottom: 2%;
    padding-bottom: 50px;
    display: inline-block;
}

h1 {
    color: teal;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 22px;
    padding: 2%;
    background-color: white;
    margin-left: 1%;
}

.portfolio_head h1 {
    margin-top: 3px;
    
 }

 hr {
    color: #cccccc;
   border-top: 1.5px solid #cccccc;
   border-bottom: 1.5px solid #c7a8a8;
   width: 910px;
 }

 input[type=text] {
    border: 2px solid #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

 }

 #input_name { 
   
    display: inline-block;
    width: 900px;
    

 }

 #input_email {
    width: 900px

 }

 #input_message { 
    
width: 100%;

 }

 #submit {
     margin-left: 48%;
     display: inline-block;
 }


 footer {
    background-color: #666666;
    text-align: center;
    width: 100%;
    height: 50px;
    display: inline-block;
    border-top: 8px solid #4aaaa5;
    margin-top: 5%;
    overflow: hidden;
    
    }
    .grey_box p {
        margin-top: 1%;
        color: white;
        font-size: 12px;
    }
    